.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/

### IntelliJ IDEA ###
.idea/
out/
!**/src/main/**/out/

### Kotlin ###
.kotlin

### Example code ###
!**/src/main/**/courses/
